.dataviews-wrapper {
	width: 100%;
	padding: rem-40;
}

.dataviews-list-view {
	width: 100%;
	text-indent: 0;
	border-color: inherit;
	border-collapse: collapse;
	position: relative;
	a {
		text-decoration: none;
	}
	th {
		text-align: left;
		font-weight: normal;
		padding: 0 rem-20 rem-20;
		color: gray-700;
	}
	td,
	th {
		padding: rem-15;
		&:last-child {
			text-align: right;
		}
	}
	tr {
		border-bottom: 1px solid gray-100;
	}
}

.dataviews__select-control-prefix {
	color: gray-700;
	text-wrap: nowrap;
}

.dataviews-view-grid__media {
	width: 100%;
	min-height: 200px;

	> * {
		max-width: 100%;
		object-fit: cover;
	}
}

.dataviews-bulk-actions-popover {
	z-index: 100000;
}

.dataviews-bulk-actions-popover .components-popover__content {
	min-width: max-content;
}

.dataviews-bulk-actions-toolbar-wrapper {
	display: flex;
	flex-grow: 1;
	width: 100%;
}
