/**
 * Editor Styles
 */

.formello-dropdown-rules {
    min-width: 400px;
    width: 600px;
}

.formello-rules {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #dedede;
    display: flex;
    align-items: center;
    span {
        flex: 1 0 auto;
    }
}

.formello-rules .components-button.has-icon {
    min-width: 25px;
    height: 25px;
    padding: 2px;
    .dashicon {
        margin: 0;
    }
}