$settings-container-width: 1024px;

.formello_form_page_formello-settings #wpcontent,
.formello_form_page_formello-tools #wpcontent {
	padding: 0;

	.formello-notices__snackbar-list {
		position: fixed;
		bottom: 100px;
		left: 180px;
	}

	.dashicons-star-filled {
		color: #ffb900;
	}
}

.formello-settings-header {
	padding: 20px 10px;
	background-color: #fff;
	box-shadow: 0 1px 0 rgba(213, 213, 213, 0.5), 0 1px 2px #eee;

	.formello-container {
		margin: 0 auto;
		max-width: $settings-container-width;

		svg {
			height: 40px;
			width: auto;
			margin: 0 1em;
		}

		h1 {
			display: flex;
			align-items: center;
			margin: 0;
		}
	}
}

.formello-tablist {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.formello-help {
	flex: 0 0 25%;
	max-width: 250px;
}

@media screen and (max-width: 782px) {

	.formello-help {
		flex-basis: 100%;
		max-width: 100%;
	}
}

.formello-settings-tab {
	flex: 1 0 auto;
}

.components-tab-panel__tabs-item, .components-tab-panel__tabs-item:focus:not(:disabled) {
	box-shadow: none;
}

.components-tab-panel__tabs-item.is-active:focus {
	box-shadow: inset 0 -4px 0 0 var( --wp-admin-theme-color );
}

.components-placeholder.formello-settings-placeholder {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: $settings-container-width;
	background: #fff;
	border: 1px solid #e2e4e7;
	box-shadow: none;
}

.formello-settings-main {
	margin-left: auto;
	margin-right: auto;
	max-width: $settings-container-width;

	.components-card {
		margin: 15px 0;

		h2 {
			margin: 0;
		}
	}

	.components-card__body > div {
		margin-bottom: 15px;
	}

	.components-card__body label {
		font-weight: 500;
		font-size: 14px;
	}

	.formello-action-message {
		padding-left: 10px;
		opacity: 0;
		transition: opacity 200ms ease-in-out;
		color: green;
		pointer-events: none;

		&.formello-action-message--show {
			opacity: 1;
			transition: opacity 200ms ease-in-out;
		}

		&.formello-action-message--error {
			color: red;
		}
	}

	.formello-ratings {

		.dashicons:first-child {
			margin-left: 5px;
		}
	}

	.components-input-control__container {
		select[multiple] {
			width: 100%;
			min-height: 150px !important;
		}		
	}

}

/* PAGES */
.formello-addons-main {
	padding: 0 1em;
}

.formello-addons {
	display: flex;
	flex-wrap: wrap;
	padding: 1em;
}

.addon {
	display: flex;
	flex-direction: column;
	width: 320px;
	border: 1px solid #ccc;
	margin: 0 20px 20px 0;
	background-color: #fff;
	padding: 10px;
}

.addon img {
	max-width: 100%;
	height: auto;
}

.addon footer {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.addon a {
	box-shadow: none;
}

.addon .type {
	float: right;
	text-transform: uppercase;
	font-weight: bold;
}

.column-id {
	text-align: left;
	width: 5%;
	overflow: hidden;
}

.formello-badge {
	background-color: #337ab7;
	padding: 0 5px;
	margin-left: 10px;
	color: white;
	border-radius: 20%;
}

.column-actions {
	text-align: left;
	width: 150px !important;
	overflow: hidden;
}

.column-formello_date {
	text-align: left;
	width: 150px !important;
	overflow: hidden;
}

.column-formello_icons {
	text-align: left;
	width: 50px !important;
	overflow: hidden;
}

.formello-icons-group {
	display: flex;
	span {
		min-width: 20px;
		font-size: 1em;
	}
}

.formello-star {
	color: #e27730;
}

.formello-new {
	color: #337ab7;
}

/* TABLE SUBMISSION STYLE */
table.formello-bordered {
	font-size: 13px;
	border-collapse: collapse;
	border-spacing: 0;
	background: white;
	width: 100%;
	table-layout: fixed;
}

table.formello-bordered th,
table.formello-bordered td {
	border: 1px solid #ddd;
	padding: 12px;
}

table.formello-bordered th {
	width: 160px;
	font-size: 14px;
	text-align: left;
}

/* ------------------ ICONS ------------------------------- */


i {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-right: 10px;

	&.mailchimp {
		background: url( ../../assets/integrations/mailchimp.svg ) center no-repeat;
	}
	&.getresponse {
		background: url( ../../assets/integrations/getresponse.svg ) center no-repeat;
	}
	&.zapier {
		background: url( ../../assets/integrations/zapier.svg ) center no-repeat;
	}
	&.webhooks {
		background: url( ../../assets/integrations/webhooks.svg ) center no-repeat;
	}
	&.exporter {
		background: url( ../../assets/integrations/exporter.svg ) center no-repeat;
	}
	&.conditional_fields {
		background: url( ../../assets/integrations/conditional_fields.svg ) center no-repeat;
	}
}

/* ------------------ END ICONS ------------------------------- */