// Media query variables
$desktop: 1024px;
$tablet: 782px;
$mobile: 426px;

/* To fix rendering quirk in Chrome */
#wpwrap {
	background: #f1f1f1;
}

/* Hide WP notices on the settings page */
.formello_form_page_formello-settings {

	.notice {
		display: none;
	}

}

#formello-plugin-settings {
	margin-left: -20px;

	@media ( max-width: $tablet ) {
		margin-left: -10px;
	}

	.loading-settings {
		text-align: center;
		margin: 35vh 30px;
		display: flex;
		align-items: center;
		justify-content: center;

		.components-spinner {
			float: none;
		}

		.description {
			color: #777;
			margin-top: 4px;
		}
	}

	.masthead {
		background-color: #fff;
		padding: 15px 20px;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;

		.inner-container {
			margin: 0 auto;
			max-width: 1024px;
			display: flex;
			justify-content: space-between;

			@media ( max-width: $mobile ) {
				flex-direction: column;
				margin: 5px auto;
			}
		}

		.masthead__branding {

			h1 {
				color: #222;
				font-size: 20px;
				font-weight: 400;
				display: flex;
				align-items: center;
				margin: 0;

				@media ( max-width: $mobile ) {
					justify-content: center;
				}
			}

			svg {
				fill: #222;
				height: 40px;
				width: 40px;
				margin-right: 10px;
			}

			.pro-badge {
				color: #fff;
				text-transform: uppercase;
				font-size: 8px;
				height: 8px;
				border-radius: 4px;
				padding: 4px 6px;
				line-height: 1;
				font-weight: 800;
				letter-spacing: 1px;
				margin-left: 10px;
				background: var(--wp-admin-theme-color);
			}

			@media ( max-width: $mobile ) {
				text-align: center;
			}
		}

	}

	/* General styles for all setting tabs */
	.setting-tabs {
		max-width: 1024px;
		margin: auto;

		.formello-message {
			opacity: 0;
			transition: all 500ms ease-in-out;
			color: #067622;
			pointer-events: none;

			&.show {
				opacity: 1;
			}

			&.error {
				color: #b52727;
			}
		}

		.components-tab-panel__tabs {
			margin-bottom: 1em;
			overflow-x: auto;
		}

		.components-grid {

			@media ( max-width: $tablet ) {
				grid-template-columns: 4fr;
			}

		}

		.components-grid > div:not(.components-card) {
			display: flex;
			gap: 1em;
			flex-direction: column;
		}

		.components-card.addon {

			> div {
				display: flex;
				flex-direction: column;
			}
			
			.components-card__body {
				flex-grow: 1;
			}
		}

		.components-card hr {
			margin: 1em 0;
		}

		.components-card__header h2 {
			margin: 0;
		}

		.components-card__header svg {
			height: 30px;
			width: 30px;
		}

		.components-card__media {
			width: 50px;
		}

		.components-notice {
			margin: 1em 0;
		}

		.ads-container__reviews {
			background-color: var(--wp-admin-theme-color);
			box-shadow: 0 0 0 1px var(--wp-admin-theme-color-darker-20), 0 1px 1px 1px rgb(0 0 0 / 4%);
			color: #fff;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 0;
				background-color: var(--wp-admin-theme-color-darker-20);
				mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><polygon points='12 17.7371778 5.81966011 21.5 7.49246652 14.4659011 2 9.75735421 9.2141911 9.1728642 12 2.5 14.7858089 9.1728642 22 9.75735421 16.5075335 14.4659011 18.1803399 21.5'></polygon></svg>");
				-webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><polygon points='12 17.7371778 5.81966011 21.5 7.49246652 14.4659011 2 9.75735421 9.2141911 9.1728642 12 2.5 14.7858089 9.1728642 22 9.75735421 16.5075335 14.4659011 18.1803399 21.5'></polygon></svg>");
				mask-size: 200px;
				-webkit-mask-size: 200px;
				mask-repeat: no-repeat;
				-webkit-mask-repeat: no-repeat;
				mask-position: -100px;
				-webkit-mask-position: -100px;
			}

			> * {
				position: relative;
				z-index: 1;
			}

			a {
				color: #fff;
				display: block;
				margin-top: 10px;
				font-size: 1.1em;
			}

			h2 {
				color: #fff;
			}
		}

		.setting-controls__save-settings {

			display: flex;
			align-items: center;
			gap: 1em;
			margin-bottom: 1em;

		}

	}
}

/* -------------- BADGES ------------------ */
.column-actions {
	text-align: left;
	width: 150px !important;
	overflow: hidden;
}

.formello-badge {
	background-color: #337ab7;
	padding: 0 5px;
	margin-left: 10px;
	color: white;
	border-radius: 20%;
}

.formello-icons-group {
	display: flex;
    align-items: center;
    div {
    	display: flex;
    }
	span {
		width: 1em;
		height: 1em;
		font-size: 1em;
		margin-left: 4px;
	}
}

.formello-star {
	color: #e27730;
}

.formello-new {
	color: #337ab7;
}

/* -------------- SUBMISSION TABLE ------------------ */

.formello-submission {

	.masthead {
		display: flex;
		gap: 1em;
		align-items: baseline;
	}

	.components-button.is-small {

		span.dashicon {
			margin: 0;
		}
	}

	.components-card__header h2 {
		margin: 0;
	}

	.components-grid {

		@media ( max-width: $tablet ) {
			grid-template-columns: 4fr;
		}

	}

	.first-column {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
		background: white;
		width: 100%;
		table-layout: fixed;
	}

	table th,
	table td {
		border-bottom: 1px solid #ddd;
		padding: 12px;
	}

	table th {
		width: 160px;
		text-align: left;
	}

}
