.wp-block-formello-button {
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	&.center {
		justify-content: center;
	}
	&.right {
		justify-content: flex-end;
	}
	&.wide {
		button {
			width: 100%;
		}
	}

	button {
		span{
			transition: all .3s, background 1ms, border 1ms;
		}
	}

}

@media screen and (min-width: 600px) {

	.as-row .wp-block-formello-button {
		margin-left: 180px;
		flex-direction: row;
	}
	
}
