.wp-block-formello-button {
	border: none;
	flex-direction: row;
	align-self: flex-start;
	&.center {
		align-self: center;
	}
	&.right {
		align-self: flex-end;
	}
	&.wide {
		align-self: auto;
	}

	button {
		span{
			transition: width .3s;
		}
	}

}

.wp-block-formello-form button:disabled:not(.running),
.wp-block-formello-form button[disabled]:not(.running){
	cursor: revert;
}

@media screen and (min-width: 768px) {

	.as-row .wp-block-formello-button {
		margin-left: 160px;
		flex-direction: row;
	}
	
}
