.wp-block-formello-button {
  
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: flex-end;
  }
  &.wide {
    button {
      width: 100%;
    }
  }

  button {
    span{
      transition: all 1s, hover 0ms;
    }
  }

}

@media screen and (min-width: 600px) {

  .as-row .wp-block-formello-button {
    padding-left: 180px;
    flex-direction: row;
  }
  
}
