.wp-block-formello-form {

	input,
	select,
	textarea {
		padding: 8px;
	}

	select, textarea {
		max-width: 100%;
	}
	padding-bottom: 30px;
	.wp-block {
		margin-right: 0;
		margin-left: 0;
		margin-top: 0;
	}
}

.formello-templates-list {
	display: flex;
	flex-wrap: wrap;

	li {
		padding: 10px;
		flex: 0 0 33.333%;
		width: 33.333%;

		a {
			text-align: center;
			cursor: pointer;
		}
	}
}

.formello-urlinput {

	input {
		width: 100% !important;
		border: 1px solid #8c8f94 !important;
	}
}

.formello-hidden {
	display: flex;
}

.wp-block-formello-button {
	border: 1px solid transparent;
	display: block;
	font-weight: normal;

	&.left {
		margin-left: 0;
	}

	&.right {
		margin-right: 0;
	}

	&.wide {
		width: auto;
	}
}

/* ------------------ ACTION MODAL ------------------ */

.formello-modal {
	min-width: 500px;

	select {
		min-width: 100%;
	}
	fieldset {
		border: 1px solid #dedede;
		padding: 10px;
		margin-bottom: 10px;
	}
}

.formello-modal-buttons {
	display: flex;
	margin: 20px 0;
	justify-content: space-between;
	flex-flow: row-reverse;
}

/* ------------------ END ACTION MODAL ------------------ */

/* ------------------ FIELDS -------------------------- */


.formello-fields-row {
    margin-bottom: 10px;
    .components-base-control__field {
    	margin-bottom: 0;
    }
}

.formello-fields-margin {
    margin-bottom: 10px;
}

.formello-mergetags-container {
	min-width: 300px;
}

.formello-tag-option {
	cursor: pointer;
	margin-bottom: 5px;
}

.formello-tag-option:hover {
	background-color: #007cba;
	color: white;
}

/* ------------------ END FIELDS -------------------------- */

/* ------------------ MCE EDITOR ------------------------------- */

.mce-container {
	z-index: 9000000 !important;
}

/* ------------------ END MCE EDITOR ------------------------------- */

/**/

.block-editor-block-variation-picker__skip button {
	display: inline;
}