.wp-block-formello-form {

	input,
	select,
	textarea {
		padding: 8px;
	}

	select,
	textarea {
		max-width: 100%;
	}

	.wp-block {
		margin: 0;
	}

	input[disabled],
	select[disabled],
	textarea[disabled],
	button[disabled] {
		opacity: 1;
	}
}

.formello-templates-list {
	display: flex;
	flex-wrap: wrap;

	li {
		padding: 10px;
		flex: 1 1 33.333%;
		width: 33.333%;

		a {
			text-align: center;
			cursor: pointer;
		}
	}
}


.formello-urlinput input[type="text"] {
	width: 100%;
	border: 1px solid #8c8f94 !important;
}

.formello-urlinput__suggestions {
	width: 260px;
}

.formello-hidden {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.wp-block-formello-button {
	border: 1px solid transparent;
	display: block;
	margin: 0;

	&.left {
		margin-left: 0;
	}

	&.right {
		margin-right: 0;
	}

	&.wide {
		width: auto;
	}
}

/* ------------------ ACTION MODAL ------------------ */

.formello-modal {

	@media only screen and (min-width: 768px) {
		min-width: 640px;
	}

	.formello-action-modal {
		display: flex;
		flex-direction: column;
		gap: 1em;

		.components-base-control__help {
			margin-bottom: 0;
		}
	}

	select {
		min-width: 100%;
	}

	fieldset {
		border: 1px solid #dedede;
		padding: 10px 20px;
		margin-bottom: 10px;

		legend {
			display: flex;
			align-items: center;
		}
	}
}

.formello-modal-buttons {
	display: flex;
	margin: 20px 0;
	justify-content: space-between;
	flex-flow: row-reverse;
}

/* ------------------ END ACTION MODAL ------------------ */

/* ------------------ FIELDS -------------------------- */


.formello-fields-row {
	margin-bottom: 1em;

	.components-base-control {
		margin-bottom: 0;
	}

	.components-base-control__field {
		margin-bottom: 0;
	}
}

.formello-fields-margin {
	margin-bottom: 10px;
}

.formello-mergetags-container {
	min-width: 300px;
}

.formello-tag-option {
	cursor: pointer;
	margin-bottom: 5px;
}

.formello-tag-option:hover {
	background-color: #007cba;
	color: #fff;
}

.formello-notice {
	margin: 1em 0;
}

/* ------------------ END FIELDS -------------------------- */

/* ------------------ MCE EDITOR ------------------------------- */

.mce-container {
	z-index: 9000000 !important;
}

/* ------------------ END MCE EDITOR ------------------------------- */

.block-editor-block-variation-picker__skip button {
	display: inline;
}
