.ld-ext-right, .ld-ext-left, .ld-ext-bottom, .ld-ext-top, .ld-over, .ld-over-inverse, .ld-over-full, .ld-over-full-inverse {
  position: relative;
  transition: all .3s ease-in;
  & > .ld {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin: -.5em;
    opacity: 0;
    z-index: -1;
    transition: all .3s ease-in;
    & > * {
      width: 1em;
      height: 1em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-.5em,-.5em);
    }
  }
  &.running > .ld {
    opacity: 1;
    z-index: auto;
    visibility: visible;
  }
}
.ld-ext-right.running{
  padding-right: 2.5em!important;
}
.ld-ext-right > .ld {
  top: 50%;
  left: auto;
  right: 1.25em;
}
.ld-ext-left.running{
  padding-left: 2.5em!important;
}
.ld-ext-left > .ld {
  top: 50%;
  right: auto;
  left: 1.25em;
}

.ld-ball, .ld-ring, .ld-hourglass, .ld-loader, .ld-spinner {
  width: 1em;
  height: 1em;
  position: relative;
  color: inherit;
  display: inline-block;
  box-sizing: content-box;
  &:after {
    content: " ";
    display: block;
    width: 2em;
    height: 2em;
    box-sizing: border-box;
    transform-origin: 0em 0em;
    transform: translateZ(0) scale(.5);
    backface-visibility: hidden;
  }
}
.ld-ring:after{
  border-radius: 50%;
  border: .3em solid currentColor;
  border-left-color: transparent;
}
.ld-hourglass:after{
  border-radius: 50%;
  border: 1em solid currentColor;
  border-left-color: transparent;
  border-right-color: transparent;
}
.ld-spinner:after {
  position: absolute;
  width: 0.4em;
  height: 0.4em;
  transform: translateZ(0) scale(.5) translate(.8em, .8em);
  border-radius: 50%;
  background: none;
  box-shadow: 0 1em 0 currentColor,0 -1em 0 currentColor,1em 0 0 currentColor,-1em 0 0 currentColor,.70710678em .70710678em 0 currentColor,-.70710678em .70710678em 0 currentColor,.70710678em -.70710678em 0 currentColor,-.70710678em -.70710678em 0 currentColor;
}
.ld-loader {
  background-size: cover;
}
.ld { transform-origin: 50% 50%; transform-box: fill-box; }
@keyframes ld-spin
{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ld.ld-spin {
  animation: ld-spin .7s infinite linear; ; 
}