@use 'button';
@use 'spinner';

$label-width: 190px;
$small-margin: 0 8px;

html {
	scroll-behavior: smooth;
}

.wp-block-formello-form {
	
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;

	.formello {
		display: flex;
		flex-direction: column;
		margin-bottom: 1em;
	}

	.formello-checkbox {
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		label {
			order: 2;
			padding: 0 10px;
		}
		input {
			order: 1;
		}
		small {
			order: 3;
			width: auto;
			margin: $small-margin;
		}
		.error-message {
			order: 4;
			width: 100%;
		}
	}

	.formello-group {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		label {
			width: 100%;
		}
		input {
			flex: auto;
			width: 1%;
		}
		button {
			align-self: stretch;
			margin-left: 10px;
		}
		&.grouped {
			input {
				border-right: 0;				
			}
			button {
				margin: 0;
			}
		}
		.error-message {
			order: 4;
			width: 100%;
		}
	}

	label {
		padding: 0 10px 0 0;
		box-sizing: border-box;
		&.hide {
			display: none;
		}
		span.required {
			color: red;
			margin: 0 5px;
			font-weight: normal;
		}
	}

	input[type], select, textarea {
		font-size: inherit;
		font-family: inherit;
		line-height: inherit;
		margin: 0;
	}

	fieldset {
		padding: 1em;
		margin-bottom: 1em;
		border: 1px solid;
	}

	fieldset.no-border {
		border: none;
		padding: 0;
	}

	legend {
		margin: .5em 0;
	}

	output {
		margin: 0 0 0 1em;
		border: 1px solid #d7dbdd;
		font-size: 1em;
		padding: .4em .4em;
		border-radius: 3px;
		min-width: 2.4em;
		min-height: 2.6em;
		text-align: center;
	}

	button {
		cursor: pointer;
		position: relative;
		background-color: #dddddd;
	}

	&.is-bold {
		label {
			font-weight: 500;
		}
		.formello-checkbox {
			label {
				font-weight: normal;
			}
		}
	}

	.wp-block-formello-button {
		font-size: inherit;
		font-family: inherit;
		line-height: inherit;
		border: 1px solid transparent;
	}

	.wp-block-formello-button {
		border: none;
		flex-direction: row;
		align-self: flex-start;
		&.center {
			align-self: center;
		}
		&.right {
			align-self: flex-end;
		}
		&.wide {
			align-self: auto;
		}

	}

	.wp-block-formello-form button:disabled:not(.running),
	.wp-block-formello-form button[disabled]:not(.running){
		cursor: revert;
	}

	/* HONEYPOT position */
	.formello-hp {
		position: absolute !important;
		left: -5000px;
	}

	.formello-message {
		margin: 1em 0;
		p {
			margin: 0;
		}
		&.success {
			padding: 1em;
			background-color: #dff0d8;
			border: 1px solid #d0e9c6;
			color: #3c763d;
		}
		&.error {
			padding: 1em;
			background-color: #fcf8e3;
			border: 1px solid #faf2cc;
			color: #8a6d3b;  
		}
	}

	.error {
		border-color: red;
	}

	.error-message {
		color: red;
	}

	.g-recaptcha {
		margin-bottom: 1em;
	}

	@media (min-width: 768px) {

		&.as-row {
			.formello {
				flex-direction: row;
				flex-wrap: wrap;
				label {
					min-width: $label-width;
					width: $label-width;
					align-self: center;
					&.textarea-label {
						align-self: auto;
					}
				}
				input, textarea, select {
					flex: 1;
				}
				small {
					width: 100%;
					margin-left: $label-width;
				}
				.error-message {
					width: 100%;
					margin-left: $label-width;
				}
			}

			.formello-checkbox {
				margin-left: $label-width;
				label {
					min-width: auto;
					width: auto;
				}
				input {
					flex: 0;
				}
				small {
					margin: $small-margin;
					width: auto;
				}
				.error-message {
					width: 100%;
					margin-left: 0;
				}
			}

			.formello-textarea {
				label {
					align-self: baseline;
				}
			}

			.formello-group {
				.error-message {
					width: 100%;
					margin-left: 0;
				}
				button {
					margin-left: 0;
				}
			}

			fieldset {
				margin-left: $label-width;
				.formello-checkbox {
					margin-left: 0;
				}
			}

			.wp-block-formello-button {
				margin-left: $label-width;
				flex-direction: row;
			}
		}

	}

	.wp-block-formello-button--loading {
	  color: transparent !important;
	}

	.wp-block-formello-button--loading::after {
	  content: "";
	  position: absolute;
	  width: 1.5em;
	  height: 1.5em;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  margin: auto;
	  border: 4px solid transparent;
	  border-top-color: #ffffff;
	  border-radius: 50%;
	  animation: button-loading-spinner .5s linear infinite;
	}

	@keyframes button-loading-spinner {
	  from {
	    transform: rotate(0deg);
	  }

	  to {
	    transform: rotate(360deg);
	  }
	}

}