.wp-block-formello-output {
    min-width: 1rem;
    min-height: 1rem;
    border: 1px solid lightgray;
    align-self: stretch;
    padding: 0 .5rem;
    line-height: 1rem;
    align-content: center;
    margin-block-start: 1rem;
}