$label-width: 190px;
$margin-left: 0.5em;
$small-margin: 0 8px;

.formello-message {
	display: none;
	box-sizing: border-box;
	padding: 1em;
	p {
		margin: 0;
	}

	&.success {
		display: block;
		background-color: #dff0d8;
		border: 1px solid #d0e9c6;
		color: #3c763d;
	}

	&.error:has(p:not(:empty)) {
		display: block;
		background-color: #fcf8e3;
		border: 1px solid #faf2cc;
		color: #8a6d3b;
	}

	ul:not(:has(li)) {
		display: none;
	}
}

.wp-block-formello-form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: .8em;

	> .wp-block-formello-input,
	> .wp-block-formello-select,
	> .wp-block-formello-textarea,
	> .wp-block-formello-fieldset,
	.formello-message {
		flex-basis: 100%;
		.wp-block-formello-button, .wp-block-formello-output {
			align-self: stretch;
		}
	}

	/* HONEYPOT position */
	.formello-hp {
		position: absolute !important;
		left: -5000px;
	}

	.error {
		border-color: red;
	}

	.error-message {
		color: red;
		order: 4;
	}
}
